body{
    background-color: purple;
}

.container {
    text-align: center;
    
    color: orange;

}
h1{
    font-size: 40px ;
}

/* unvisited  */
a:link{
    color: orange;
}

/* hover over link */
a:hover{
    color: yellow;
}

/* visited  */
a:visited{
    color: orange;
}


/* Chris Standa - Computer & Software Engineer */